<div class="trifid-content">
    <div class="container">
        <h1>Rendering</h1>
        <p>This page demonstrates distinct rendering options.</p>

        <ul>

            <h3>Basic</h3>

            <li>
                Technical cues:
                <a href="/test/people/3?technicalCues=false">false</a>
                -
                <a href="/test/people/3?technicalCues=true">true</a>
            </li>

            <li>
                Compact mode, objects
                <a href="/snippets/a3?compactMode=false">false</a>
                -
                <a href="/snippets/a3?compactMode=true">true</a>
            </li>

            <h3>Labels</h3>
            <li>
                Compact mode, objects
                <a href="/snippets/a3?compactMode=false">false</a>
                -
                <a href="/snippets/a3?compactMode=true">true</a>
            </li>

            <li>
                Compact mode, properties
                <a href="/snippets/a4?compactMode=false">false</a>
                -
                <a href="/snippets/a4?compactMode=true">true</a>
            </li>


            <h3>Lists</h3>
            <li>
                List with <a href="/snippets/a6?compactMode=false&embedLists=false&embedBlankNodes=false">compactMode=false,
                embedLists=false, embedBlankNodes=false</a>
            </li>
            <li>
                List with <a href="/snippets/a6?compactMode=false&embedLists=false&embedBlankNodes=true">compactMode=false,
                embedLists=false, embedBlankNodes=true</a>
            </li>
            <li>
                List with <a href="/snippets/a6?compactMode=false&embedLists=true&embedBlankNodes=true">compactMode=false,
                embedLists=true, embedBlankNodes=true</a>
            </li>
            <li>
                List with <a href="/snippets/a6?compactMode=true&embedLists=true&embedBlankNodes=true">compactMode=true,
                embedLists=true, embedBlankNodes=true</a>
            </li>

            <h3>Languages</h3>
            <li>
                <a href="/adams/eudora?highlightLanguage=fr">French</a> selected
            </li>
            <li>
                <a href="/adams/eudora?highlightLanguage=es">Spanish</a> selected
            </li>



            <li>
                Show named graphs:
                <a href="/test/people/3?showNamedGraphs=false">false</a>
                -
                <a href="/test/people/3?showNamedGraphs=true">true</a>
            </li>

            <h3>Node embedding</h3>

            <li>
                Embed blanks:
                <a href="/wonderland/WhiteRabbit?embedBlankNodes=false">false</a>
                -
                <a href="/wonderland/WhiteRabbit?embedBlankNodes=true">true</a>
            </li>

            <li>
                Example with
                <a href="/test/ladder/1">20 levels deep</a>, where maxDeep is 3.
            </li>
            <li>
                setting  <a href="/test/ladder/1?maxLevel=1">maxDeep 1</a> will flatten the list
            </li>

            <h3>Redirect handler</h3>

            <li> See the <a href="/file/builds/pipelines/ld.zazuko.com/datasets/redirect.ttl">example</a></li>

            <h3>Label loading</h3>

            <p>
                See examples of an <a href="/test/people/">entity</a> and a <a href="/test/people/1">collection</a>
            </p>

            <p>
                This instance is configured to fetch labels for entities that start with "https://ld.zazuko.com", using
                two concurrent queries, 30 labels at a time, with a maximum timeout or 1 second.

                It's configured to fetch schema:name
            </p>

            <h3> Feedback </h3>
            <li>
                Debug <a href="/test/people/3?debug=true"> true</a>
            </li>

        </ul>

        <p><a href="/">Go back to the homepage</a></p>
        <p><a href="/sparql">Run some SPARQL query</a></p>
    </div>
</div>
