<div class="trifid-content">
  <div class="container">
    <h1>URL parameters</h1>
    <p>This page demonstrates some supported URL parameters.</p>

    <ul>
      <li>
        Compact mode:
        <a href="/test/people/3?compactMode=false">false</a>
        -
        <a href="/test/people/3?compactMode=true">true</a>
      </li>

      <li>
        Embed blank nodes:
        <a href="/test/people/3?embedBlankNodes=false">false</a>
        -
        <a href="/test/people/3?embedBlankNodes=true">true</a>
      </li>

      <li>
        Technical cues:
        <a href="/test/people/3?technicalCues=false">false</a>
        -
        <a href="/test/people/3?technicalCues=true">true</a>
      </li>

      <li>
        Embed ordered lists:
        <a href="/test/people/3?embedLists=false">false</a>
        -
        <a href="/test/people/3?embedLists=true">true</a>
      </li>

      <li>
        Highlight language:
        <a href="/person/3?highlightLanguage=fr">fr</a>
        -
        <a href="/person/3?highlightLanguage=es">es</a>
      </li>

      <li>
        Debug:
        <a href="/test/people/3?debug=false">false</a>
        -
        <a href="/test/people/3?debug=true">true</a>
      </li>

      <li>
        Show named graphs:
        <a href="/test/people/3?showNamedGraphs=false">false</a>
        -
        <a href="/test/people/3?showNamedGraphs=true">true</a>
      </li>
    </ul>

    <p><a href="/">Go back to the homepage</a></p>
    <p><a href="/sparql">Run some SPARQL query</a></p>
  </div>
</div>
