<div class="trifid-header-title-small">
  <div class="trifid-content">
    <div class="container">
      <h1>Welcome to Trifid!</h1>
      <p>Welcome to this working Trifid instance! 🎉</p>
    </div>
  </div>
</div>

<div class="trifid-content">
  <div class="container">
    <p><a href="/sparql">Test your first SPARQL query</a></p>
    <p><a href="/parameters">Some examples</a></p>
    <p><a href="/index">Some test data</a></p>
  </div>
</div>
