<div class="trifid-content">
  <div class="container">
    <p>Welcome to this working Trifid instance! 🎉</p>
    <p><a href="/sparql">Test your first SPARQL query</a></p>
    <p><a href="/parameters">See some of the supported parameters</a></p>
  </div>
</div>
